/* .scene {
  display: inline-block;
  width: 100%;
  height: 100%;
  perspective: 30em;
}

.card,
.front,
.back {
  position: absolute;
  height: inherit;
  width: inherit;
  transition: all 7s;
  transform-style: preserve-3d;
}

.front {
  background: tomato;
}

.back {
  background: violet;
}

.scene .back {
  transform: rotateX(-180deg);
}

.scene .card {
  animation: flip 5s infinite alternate ease-in-out;
  -webkit-animation: flip 5s 0s infinite alternate ease-in-out;
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-180deg);
  }
}

@-webkit-keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-180deg);
  }
} */
