.scene {
  display: inline-block;
  width: 50%;
  height: 50%;
  perspective: 50px;
}

.face1 {
  line-height: 15em;
  text-align: center;
  position: absolute;
}

.card,
.front,
.back {
  position: absolute;
  height: 50px;
  width: 100px;
  transition: all 7s;
  transform-style: preserve-3d;
}

.front {
  background: tomato;
}

.back {
  background: violet;
  height: 50px;
}

.scene .back {
  transform: rotateX(-180deg);
}

.scene .card {
  animation: flip 5s infinite alternate ease-in-out;
  -webkit-animation: flip 5s 0s infinite alternate ease-in-out;
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-180deg);
  }
}

@-webkit-keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-180deg);
  }
}
